# Ambiente virtual (Conda ou venv)
venv*/
stp_venv/
.env/
*.env

# Ficheiros temporários / compilados do Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Ficheiros de IDEs (VSCode, PyCharm, etc)
.vscode/
.idea/

# Outros (Windows)
.DS_Store
Thumbs.db
Desktop.ini

excels/
docs/
stp_igs_files/
