# Ambiente virtual (Conda ou venv)
venv*/
stp_venv/
.env/
*.env

# Ficheiros temporários / compilados do Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Ficheiros de IDEs (VSCode, PyCharm, etc)
.vscode/
.idea/

# Ficheiros STEP e outros CAD de entrada (devem ser colocados localmente)
stp_igs_files/*.stp
stp_igs_files/*.step
stp_igs_files/*.iges
stp_igs_files/*.igs

# Ficheiros de imagem (ex: screenshots)
screenshots/
*.png
*.jpg
*.jpeg
*.gif

# Outros (Windows)
.DS_Store
Thumbs.db
Desktop.ini
